//Colors

$green: #35736e;
$offwhite: #eff2f1;
$yellow: #ffd748;
$grey: #cacaca;
$white: #ffffff;
$black: #2f2f2f;

//Headings

$mainH: 50px;
$shortH: 40px;
$productD: 30px;
$small: 14px;

//Font

$mainF: "DM Serif Text";
$shortF: "Poppins";
$productD: "Inter";
